
@{
    ViewBag.Title = "SinAcceso";
}

<h2>Sin Acceso</h2>

<h2>Ud. no tiene permiso para acceder a esta página. Para acceder debe hacer <strong>@Html.ActionLink("Login", "Login", "Usuario")</strong></h2>