USE [master]
GO
/****** Object:  Database [ObligP3parte2]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE DATABASE [ObligP3parte2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ObligP3parte2', FILENAME = N'C:\Users\Santiago\ObligP3parte2.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ObligP3parte2_log', FILENAME = N'C:\Users\Santiago\ObligP3parte2_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ObligP3parte2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ObligP3parte2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Etapas]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etapas](
	[CodigoAlfa] [nvarchar](50) NOT NULL,
	[TiempoMax] [int] NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[MiTramite_Codigo] [int] NULL,
 CONSTRAINT [PK_dbo.Etapas] PRIMARY KEY CLUSTERED 
(
	[CodigoAlfa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EtapasCumplidas]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtapasCumplidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [nvarchar](max) NULL,
	[FechaFin] [datetime] NOT NULL,
	[SuperaLapsoMax] [bit] NOT NULL,
	[Etapa_CodigoAlfa] [nvarchar](50) NULL,
	[Expediente_Codigo] [int] NULL,
	[Funcionario_Mail] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.EtapasCumplidas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Expedientes]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedientes](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[idSolicitante] [nvarchar](15) NULL,
	[MailFunc] [nvarchar](50) NULL,
	[FechaInic] [datetime] NOT NULL,
	[Culminado] [bit] NOT NULL,
	[Tramite_Codigo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Expedientes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Mail] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[MiGrupo_Codigo] [int] NULL,
 CONSTRAINT [PK_dbo.Funcionarios] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Grupos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GrupoTramites]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoTramites](
	[Grupo_Codigo] [int] NOT NULL,
	[Tramite_Codigo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GrupoTramites] PRIMARY KEY CLUSTERED 
(
	[Grupo_Codigo] ASC,
	[Tramite_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Solicitantes]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitantes](
	[Cedula] [nvarchar](15) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Solicitantes] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tramites]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tramites](
	[Codigo] [int] NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NOT NULL,
	[Costo] [float] NOT NULL,
	[TiempoPrevisto] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tramites] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/29/2018 11:07:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Mail] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Etapas] ([CodigoAlfa], [TiempoMax], [Descripcion], [MiTramite_Codigo]) VALUES (N'T1E01', 4, N'Primera etapa', 1)
GO
INSERT [dbo].[Etapas] ([CodigoAlfa], [TiempoMax], [Descripcion], [MiTramite_Codigo]) VALUES (N'T1E02', 2, N'Segunda etapa', 1)
GO
INSERT [dbo].[Etapas] ([CodigoAlfa], [TiempoMax], [Descripcion], [MiTramite_Codigo]) VALUES (N'T1E03', 2, N'Tercera etapa', 1)
GO
SET IDENTITY_INSERT [dbo].[EtapasCumplidas] ON 

GO
INSERT [dbo].[EtapasCumplidas] ([Id], [Documento], [FechaFin], [SuperaLapsoMax], [Etapa_CodigoAlfa], [Expediente_Codigo], [Funcionario_Mail]) VALUES (1, N'339px-Akt_mianowania_ppłk._Kazimierza_Makarewicza_na_stopień_pułkownika.jpg', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 0, N'T1E01', 1, N'camilodiaz@mail.com')
GO
INSERT [dbo].[EtapasCumplidas] ([Id], [Documento], [FechaFin], [SuperaLapsoMax], [Etapa_CodigoAlfa], [Expediente_Codigo], [Funcionario_Mail]) VALUES (2, N'23938868.png', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 0, N'T1E02', 1, N'camilodiaz@mail.com')
GO
INSERT [dbo].[EtapasCumplidas] ([Id], [Documento], [FechaFin], [SuperaLapsoMax], [Etapa_CodigoAlfa], [Expediente_Codigo], [Funcionario_Mail]) VALUES (3, N'a_german_eagle_o_55c5132ea2151.jpg', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 0, N'T1E03', 1, N'admin@mail.com')
GO
SET IDENTITY_INSERT [dbo].[EtapasCumplidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Expedientes] ON 

GO
INSERT [dbo].[Expedientes] ([Codigo], [idSolicitante], [MailFunc], [FechaInic], [Culminado], [Tramite_Codigo]) VALUES (1, N'3333', N'func1@mail.com', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 1, 1)
GO
INSERT [dbo].[Expedientes] ([Codigo], [idSolicitante], [MailFunc], [FechaInic], [Culminado], [Tramite_Codigo]) VALUES (2, N'1234', N'func2@mail.com', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 1, 3)
GO
INSERT [dbo].[Expedientes] ([Codigo], [idSolicitante], [MailFunc], [FechaInic], [Culminado], [Tramite_Codigo]) VALUES (3, N'123456', N'func3@mail.com', CAST(N'2018-06-27 00:00:00.000' AS DateTime), 0, 2)
GO
SET IDENTITY_INSERT [dbo].[Expedientes] OFF
GO
INSERT [dbo].[Funcionarios] ([Mail], [Password], [Nombre], [MiGrupo_Codigo]) VALUES (N'admin@mail.com', N'123', N'Admin Carlos', 1)
GO
INSERT [dbo].[Funcionarios] ([Mail], [Password], [Nombre], [MiGrupo_Codigo]) VALUES (N'aliquet@elitpellentesque.net', N'123', N'Gareth Skinner', 4)
GO
INSERT [dbo].[Funcionarios] ([Mail], [Password], [Nombre], [MiGrupo_Codigo]) VALUES (N'amet.dapibus@atpede.co.uk', N'123', N'Shelley Campbell', 3)
GO
INSERT [dbo].[Grupos] ([Codigo], [Nombre]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Grupos] ([Codigo], [Nombre]) VALUES (2, N'Mantenimiento')
GO
INSERT [dbo].[Grupos] ([Codigo], [Nombre]) VALUES (3, N'Escribanos')
GO
INSERT [dbo].[GrupoTramites] ([Grupo_Codigo], [Tramite_Codigo]) VALUES (1, 1)
GO
INSERT [dbo].[GrupoTramites] ([Grupo_Codigo], [Tramite_Codigo]) VALUES (2, 1)
GO
INSERT [dbo].[GrupoTramites] ([Grupo_Codigo], [Tramite_Codigo]) VALUES (4, 2)
GO
INSERT [dbo].[Solicitantes] ([Cedula], [Nombre], [Apellido], [Tel], [Mail]) VALUES (N'1234', N'Lolo', N'Fernandes', N'654544', N'lololo@mail.com')
GO
INSERT [dbo].[Solicitantes] ([Cedula], [Nombre], [Apellido], [Tel], [Mail]) VALUES (N'123456', N'Pepita', N'Lopez', N'7654564', N'pepilo@mail.com')
GO
INSERT [dbo].[Solicitantes] ([Cedula], [Nombre], [Apellido], [Tel], [Mail]) VALUES (N'3333', N'Carlos', N'Pepito', N'123456789', N'carpepito@mail.com')
GO
INSERT [dbo].[Tramites] ([Codigo], [Titulo], [Descripcion], [Costo], [TiempoPrevisto]) VALUES (1, N'Tramite 1', N'Un trámite con 2 etapas y 2 grupos.', 5.3, 7)
GO
INSERT [dbo].[Tramites] ([Codigo], [Titulo], [Descripcion], [Costo], [TiempoPrevisto]) VALUES (2, N'Tramite 2', N'Otro trámite con varias etapas.', 50, 9)
GO
INSERT [dbo].[Tramites] ([Codigo], [Titulo], [Descripcion], [Costo], [TiempoPrevisto]) VALUES (3, N'Tramite 3', N'Otro trámite más con varias etapas.', 38, 11)
GO
INSERT [dbo].[Usuarios] ([Mail], [Password]) VALUES (N'func1@mail.com', N'123')
GO
INSERT [dbo].[Usuarios] ([Mail], [Password]) VALUES (N'func2@mail.com', N'123')
GO
INSERT [dbo].[Usuarios] ([Mail], [Password]) VALUES (N'func3@mail.com', N'123')
GO
/****** Object:  Index [IX_MiTramite_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiTramite_Codigo] ON [dbo].[Etapas]
(
	[MiTramite_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Etapa_CodigoAlfa]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Etapa_CodigoAlfa] ON [dbo].[EtapasCumplidas]
(
	[Etapa_CodigoAlfa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expediente_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Expediente_Codigo] ON [dbo].[EtapasCumplidas]
(
	[Expediente_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Funcionario_Mail]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Funcionario_Mail] ON [dbo].[EtapasCumplidas]
(
	[Funcionario_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_idSolicitante]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_idSolicitante] ON [dbo].[Expedientes]
(
	[idSolicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tramite_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tramite_Codigo] ON [dbo].[Expedientes]
(
	[Tramite_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiGrupo_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiGrupo_Codigo] ON [dbo].[Funcionarios]
(
	[MiGrupo_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Grupo_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Grupo_Codigo] ON [dbo].[GrupoTramites]
(
	[Grupo_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tramite_Codigo]    Script Date: 6/29/2018 11:07:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tramite_Codigo] ON [dbo].[GrupoTramites]
(
	[Tramite_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Etapas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Etapas_dbo.Tramites_MiTramite_Codigo] FOREIGN KEY([MiTramite_Codigo])
REFERENCES [dbo].[Tramites] ([Codigo])
GO
ALTER TABLE [dbo].[Etapas] CHECK CONSTRAINT [FK_dbo.Etapas_dbo.Tramites_MiTramite_Codigo]
GO
ALTER TABLE [dbo].[EtapasCumplidas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Etapas_Etapa_CodigoAlfa] FOREIGN KEY([Etapa_CodigoAlfa])
REFERENCES [dbo].[Etapas] ([CodigoAlfa])
GO
ALTER TABLE [dbo].[EtapasCumplidas] CHECK CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Etapas_Etapa_CodigoAlfa]
GO
ALTER TABLE [dbo].[EtapasCumplidas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Expedientes_Expediente_Codigo] FOREIGN KEY([Expediente_Codigo])
REFERENCES [dbo].[Expedientes] ([Codigo])
GO
ALTER TABLE [dbo].[EtapasCumplidas] CHECK CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Expedientes_Expediente_Codigo]
GO
ALTER TABLE [dbo].[EtapasCumplidas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Funcionarios_Funcionario_Mail] FOREIGN KEY([Funcionario_Mail])
REFERENCES [dbo].[Funcionarios] ([Mail])
GO
ALTER TABLE [dbo].[EtapasCumplidas] CHECK CONSTRAINT [FK_dbo.EtapasCumplidas_dbo.Funcionarios_Funcionario_Mail]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Expedientes_dbo.Solicitantes_idSolicitante] FOREIGN KEY([idSolicitante])
REFERENCES [dbo].[Solicitantes] ([Cedula])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_dbo.Expedientes_dbo.Solicitantes_idSolicitante]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Expedientes_dbo.Tramites_Tramite_Codigo] FOREIGN KEY([Tramite_Codigo])
REFERENCES [dbo].[Tramites] ([Codigo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_dbo.Expedientes_dbo.Tramites_Tramite_Codigo]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Funcionarios_dbo.Grupos_MiGrupo_Codigo] FOREIGN KEY([MiGrupo_Codigo])
REFERENCES [dbo].[Grupos] ([Codigo])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_dbo.Funcionarios_dbo.Grupos_MiGrupo_Codigo]
GO
ALTER TABLE [dbo].[GrupoTramites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GrupoTramites_dbo.Grupos_Grupo_Codigo] FOREIGN KEY([Grupo_Codigo])
REFERENCES [dbo].[Grupos] ([Codigo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoTramites] CHECK CONSTRAINT [FK_dbo.GrupoTramites_dbo.Grupos_Grupo_Codigo]
GO
ALTER TABLE [dbo].[GrupoTramites]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GrupoTramites_dbo.Tramites_Tramite_Codigo] FOREIGN KEY([Tramite_Codigo])
REFERENCES [dbo].[Tramites] ([Codigo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoTramites] CHECK CONSTRAINT [FK_dbo.GrupoTramites_dbo.Tramites_Tramite_Codigo]
GO
USE [master]
GO
